In [3]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [4]:
# Find the length of the set it_companies
print(len(it_companies))

7

In [6]:
# Add 'Twitter' to it_companies
b={"Twitter"}
it_companies.update(b)
print(it_companies)

{'Oracle', 'Amazon', 'Twitter', 'Facebook', 'Apple', 'Microsoft', 'IBM', 'Google'}

In [13]:
# Insert multiple IT companies at once to the set it_companies
it_companies.update(["companies1", "companies2", "companies3", "companies4"])
print(it_companies)

{'Oracle', 'Amazon', 'Twitter', 'Facebook', 'companies1', 'Apple', 'companies4', 'companies2', 'Microsoft', 'IBM', 'companies3', 'Google'}

In [14]:
# Remove one of the companies from the set it_companies
it_companies.remove("companies4")
print(it_companies)

{'Oracle', 'Amazon', 'Twitter', 'Facebook', 'companies1', 'Apple', 'companies2', 'Microsoft', 'IBM', 'companies3', 'Google'}

In [17]:
# What is the difference between remove and discard
try:
    it_companies.remove("companies5")
except:
    print("error")
else:print("No error")

error

In [18]:
try:
    it_companies.discard("companies5")
except:
    print("error")
else:print("No error")

No error

In [31]:
# Join A and B
print(A|B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [32]:
# Find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [33]:
# Is A subset of B
print(A.issubset(B))

True

In [34]:
# Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [36]:
# Join A with B and B with A
A_join_B = A|B
B_join_A = B|A
print(A_join_B,B_join_A)

{19, 20, 22, 24, 25, 26, 27, 28} {19, 20, 22, 24, 25, 26, 27, 28}

In [45]:
# What is the symmetric difference between A and B
A_rest = A-B
B_rest = B-A
print(A_rest|B_rest)

{27, 28}

In [49]:
# Delete the sets completely
del A
print(A)

NameError: name 'A' is not defined

In [51]:
# Convert the ages to a set and compare the length of the list and the set.

age_set = set(age)
print(len(age),len(age_set))

8 5